body {
  background: linear-gradient(-45deg, #e0ae9e, #cc4058, #23a6d5, #23d5ab);
  background-size: 3000% 1000%;
  animation: gradient 10s ease infinite;
  height: 100%;
  margin: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #292929;
  color: aliceblue;
  text-align: center;
}

#background {
  border-radius: 5px;
  border-style: solid;
  opacity: 0.8;
  background-color: darkgrey;
  color: black;
}
